                                        /*----------*\
                                            $Forms  
                                        \*---------*/
@import './mixins.scss';
$text_shadow:2px 2px .2px #d1d1d1;

.add-students{
    h2{
        font-size: 30px;
        text-shadow: $text_shadow;
        }

       #newStudent{
           padding-top: 15px;
           padding-bottom: 15px;

           label {
               font-size: 22px;
               font-family: 'Cutive Mono', monospace;
           }

           input {
              @include forms-input();
               &[type="text"]{
                   &:focus{
                       background-color: #92e0ff;
                       border-color: #ff0505;
                   }
               }
   
               &[type="number"]{
                   height: 18px;
                   transform: skewX(20deg);
                   &:focus{
                       color: #06b2f7;
                       box-shadow: 5px;
                   }
               }
           }

           .save {
             @include forms-save();
              &:hover{
                   background-color: #a1e42f;
               }
           }
       } 
}

.add-gradedtasks{

    h2{
        font-size: 30px;
        text-shadow: $text_shadow;
    }

    #newGradedTask{
        padding-top: 15px;
        padding-bottom: 15px;

        label {
            font-size: 22px;
            font-family: 'Cutive Mono', monospace;
        }

        input {
            @include forms-input();
            &[type="text"]{
                &:focus{
                    background-color: #92e0ff;
                    border-color: #ff0505;
                }
            }

            &[type="number"]{
                height: 18px;
                transform: skewX(20deg);
                &:focus{
                    color: #06b2f7;
                    box-shadow: 5px;
                }
            }
        }

        .save {
            @include forms-save();
           &:hover{
                background-color: #a1e42f;
            }
        }

    }

}

.update-students{
    h2{
        font-size: 30px;
        text-shadow: $text_shadow;
        }

       #newStudent{
           padding-top: 15px;
           padding-bottom: 15px;

           label {
               font-size: 22px;
               font-family: 'Cutive Mono', monospace;
           }

           input {
              @include forms-input();
               &[type="text"]{
                   &:focus{
                       background-color: #92e0ff;
                       border-color: #ff0505;
                   }
               }
   
               &[type="number"]{
                   height: 18px;
                   transform: skewX(20deg);
                   &:focus{
                       color: #06b2f7;
                       box-shadow: 5px;
                   }
               }
           }

           .save {
             @include forms-save();
              &:hover{
                   background-color: #a1e42f;
               }
           }
       } 
}