                                    /*-----------*\
                                        $Header
                                    \*-----------*/
                                    
$background_bg:wheat;
$content_bg:#ffffffb3;
@import './mixins.scss';

@keyframes fly-in-out {
    0%   {border-color: $background_bg;}
    10%  {border-color:#87adee;}
    20%  {border-color: #50FD89;}
    30%  {border-color: #ffff6d ;}
    40%  {border-color:#ffb95d;}
    50%  {border-color: #fd8150;}
    60%  {border-color: #fd5050;}
    70%  {border-color: #ffff6d ;}
    80%  {border-color: #50FD89;}
    90%  {border-color:#87adee;}
    100% {border-color: $background_bg;} 
 }
 
.grid-header { 
    grid-area:header;
    display: flex;
    display:-webkit-flex; 
    display:-ms-flexbox;
    justify-content: space-between;
    width: auto;
    background:$content_bg;
    overflow: hidden;
    border-bottom: 8px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: fly-in-out 5S infinite;

    .grid-header-logo{
       color:#000000cc;
       float: left;
       font-size:30px;
       
       a {
           @include header-link();
           &:hover{
               color:#fff;
               background:#000000cc;
               border-bottom: inset 5px solid #fff;
           }
       }

   } 
                                    /*-----------*\
                                        $Menu 
                                    \*-----------*/

   .menu-listado { 
           list-style: none; 

           #addStudent{position: absolute; top: -35;}
           #addGTask{position: absolute; top: -35;}
       
           .listado-item{
               float: left;
               a {
                    @include header-link();
                   &:hover{
                       color:#fff;
                       background:#000000cc;
                       border-bottom: inset 5px solid #fff;
                   }
               }
           } 
   }
}
