
@mixin forms-save(){
    background-color: #bceb6f;
    border-radius: 8px;
    font-family: Arial !important;
    font-family: sans-serif;
    font-weight: bold;
    color: #000000;
    padding-left: .5em;
    padding-right: .5em;
    box-shadow: 2px 3px 5px #000000;
}

@mixin forms-input(){
    text-align: center;
    height: 20px;
    font-size: 16px;
    border-radius: 7px;
    border-style: dotted;
    border-bottom-color: yellowgreen;
}

@mixin header-link(){
    color:#000000cc;
    text-decoration: none;
    display: block;
    padding:0 20px;
    line-height:80px;
    font-size:18px;
    font-family: 'Orbitron', sans-serif;
}

@mixin style-buttons(){
    color: #000000;
    text-shadow: 2px 2px 1px #e2e2e2;
    text-decoration: none;
    border-radius: 5px;
    padding: 10%;
}

// @mixin response ($size){
//     @if ($size == normal ){
//         @media screen and ( max-width: 840px ){
            
//         }
//     } @else if {
//        ( @media screen and ( max-width: 752px ) );
//     } @else if {

//     }
// }