                                        /*----------*\
                                            $Responive  
                                        \*---------*/
@media screen and ( max-width: 840px ) {
    
        .grid{
            .grid-header{
                grid-area:header;
                display: block;
                width: auto;
                   .grid-header-logo {
                        display: block;
                        font-size: 22px;
                        text-align: center;
                        float: center;
                        margin: auto;
                        a {
                            display: inline-block;
                            font-size:16px;
                        }
                    }
    
                     .listado-item{
                        a {
                            display: inline-block;
                            font-size:16px;
                        }
                    } 
                }
        }
    
    }
    
    @media screen and ( max-width: 752px ) {
    
        .grid{
            .grid-header{
                .listado-item{
                    display: flex;
                    justify-content: space-between;
                    font-size:14px;
                }
    
                .grid-header-logo {
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                }
            }
            
            .grid-main{
                .table{
                   display: block;
                   overflow-x: auto;
                }
    
                .add-students{
                    h2{
                        font-size: 18px;
                    }
                    
                    #newStudent{
                            padding-top: 10px;
                            padding-bottom: 10px;
                    } 
                }
                .update-students{
                    h2{
                        font-size: 18px;
                    }
                    
                    #newStudent{
                            padding-top: 10px;
                            padding-bottom: 10px;
                    } 
                }
            
                .add-gradedtasks{
    
                    h2{
                        font-size: 18px;
                    }
    
                    #newGradedTask{
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
    
                    input {
                        height: 20px;
                        font-size: 16px;
        
                        &[type="number"]{
                            height: 18px;
                        }
                    }
    
                }
            }
        }
    
    }
    
    @media screen and ( max-width: 470px ) {
        .grid{
            .grid-header{
                .grid-header-logo{
                    a {
                        display: block;
                        font-size: 14px;
                    }
                } 
                
                .header-menu{
                    .menu-listado {
                        display: flex;
                        justify-content: space-between;
                        flex-flow: row;
            
                        .listado-item{
                            a {
                                font-size:11px;
                                text-align: center;
                                width: auto;
                                float: none;
                            }
                        } 
                    } 
                }
            }
    
            .grid-main{
    
                .add-students{
                    h2{
                        font-size: 18px;
                    }
                  
                   #newStudent{
                        padding-top: 5px;
                        padding-bottom: 5px;
                   } 
                }

                .update-students{
                    h2{
                        font-size: 18px;
                    }
                  
                   #newStudent{
                        padding-top: 5px;
                        padding-bottom: 5px;
                   } 
                }
               
                .add-gradedtasks{
    
                    h2{
                        font-size: 18px;
                    }
    
                    #newGradedTask{
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
    
                    input {
                        height: 18px;
                        font-size: 14px;
          
                      &[type="number"]{
                          height: 14px;
                      }
                    }
    
                }
    
            }
    
        }    
    }