/* Styles go here */

/*------------------------------------*\
    $CONTINGUT del html 
\*------------------------------------*/
/*
 *Contingut del html 
    * Header.....Part del principi,lo relacionat amb el titol,la icona etc.....
    * Tabla.......La part intermitja, Tot lo relacionat amb la tabla del get ranking,la tabla, els punts ,les activitat etc...
    * Forms.......Formularis per ha afegir estudiants i GradedTasks
    * Footer.....La part final del html, tot lo relacionat amb la firma del creador, l`hora etc....
    * Grid.......Es la part de la ConfiguraciÃ³ de grid 
    * Menu..Es la part on estan els elements pertinents referents al menu de navegacio
    * Responsive......Es la part on estan les medides per als diferents dispositius i les respectives accions 
 */

$background_bg:wheat;
$content_bg:#ffffffb3;

*{
    margin: 0;
    padding: 0;
}

// @import './mixins.scss';
                                
                                    /*-----------*\
                                        $Grid 
                                    \*-----------*/


.grid {
    display:grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    background-color: $background_bg;

    @import './header.scss';
    
   .grid-main { 
       grid-area:main;
       margin-top: 5%;
       padding-top: 5px; 
       background:$content_bg;
       overflow: hidden;
       border-radius: 5px;
       text-align: center; 

        @import './table.scss';

        @import './forms.scss';
        
   }
    
  @import './footer.scss';

} 

@import'./responsive.scss';