                                        /*----------*\
                                            $Tabla  
                                        \*---------*/
@import './mixins.scss';
$xp_bg:#00aeee;
$xp_bg_hover:#00b7ff;
$delete_bg:#ff4747;
$delete_bg_hover:#ff0404;
$update_bg:#ffbb46;
$update_bg_hover:#ffa600;


.table{
    .table-thead{
        text-align: center;
        .thead-cell{
            padding: 5px;
            max-width: 25%;
            background-color: black;
            color: white!important;
        }
    }

    .table-tbody {
        text-align: center;
        overflow-x: hidden;
        overflow-y: visible;
        overflow: auto;

        .tbody-row:nth-of-type(even) {
            .tbody-cell:nth-child(3) {
               background-color: rgb(212, 212, 212);
           }

           .tbody-cell:nth-child(4){
               background-color: rgb(212, 212, 212);
           }

           .tbody-cell:nth-child(5) {
               background-color: rgb(212, 212, 212);
           }

        } 

       .tbody-row{
            .tbody-cell{
                padding: 5px;
                max-width: 25%;
                color: #000000;

                #us{
                    color: #000000;
                    @include style-buttons();
                    background-color:  $update_bg;
                    &:hover { 
                        background-color:  $update_bg_hover; 
                    }
                }
                
                #ds{
                    color: #000000;
                    @include style-buttons();
                    background-color:  $delete_bg;
                    &:hover { 
                        background-color:  $delete_bg_hover; 
                    }
                }
                
                #xp{
                    @include style-buttons();
                    background-color:  $xp_bg;
                    &:hover { 
                        background-color:  $xp_bg_hover; 
                    }
                }
            }
            &:hover {
                box-shadow: 0px 0px 50px #000000;
                z-index: 2;
                transition: all 200ms ease-in;
            }

            .tbody-cell{
                &:nth-child(10){
                    display: none
                }

                &:nth-child(5) {
                    display:none;
                }

                &:nth-child(9){
                    display:none;
                }

                &:nth-child(8) {
                    display:none;
                }
            }
        }

    }
}


