/* Styles go here */

/*------------------------------------*\
    $CONTINGUT del html 
\*------------------------------------*/
/*
 *Contingut del html 
    * Header.....Part del principi,lo relacionat amb el titol,la icona etc.....
    * Body.......La part intermitja, Tot lo relacionat amb la tabla del get ranking,la tabla, els punts ,les activitat etc...
    * Footer.....La part final del html, tot lo relacionat amb la firma del creador, l`hora etc....
    * Grid.......Es la part de la ConfiguraciÃ³ de grid 
    * Menu..Es la part on estan els elements pertinents referents al menu de navegacio
    * Media......Es la part on estan les medides per als diferents dispositius i les respectives accions 
 */

 *{
    margin: 0;
    padding: 0;
}
                                
                                    /*-----------*\
                                        $Grid 
                                    \*-----------*/

.grid {
	display:grid;
    grid-template-areas: "header"
						 "main"
                         "footer";
    background-color: wheat;
  }
  
                                    /*-----------*\
                                        $Header
                                    \*-----------*/
  .grid-header { 
    grid-area:header;
    display: flex;
	display:-webkit-flex; 
	display:-ms-flexbox;
	justify-content: space-between;
	width: auto;
	background:#ffffffb3;
    overflow: hidden;
    border-bottom: 8px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: fly-in-out 5S infinite;
 }

.grid-header-logo {
	color:#000000cc;
	float: left;
	font-size:30px;
}

                                    /*-----------*\
                                        $Menu 
                                    \*-----------*/

.menu-listado { list-style: none; }

.listado-item { display: inline-block; }

.listado-item a, .grid-header-logo a {
	color:#000000cc;
	text-decoration: none;
	display: block;
    font-size:18px;
    font-family: 'Orbitron', sans-serif;
	padding:0 20px;
	line-height:80px;
}

.listado-item:hover,.grid-header-logo a:hover{
	background:#000000cc;
	border-bottom: inset 5px solid #fff;
}

.listado-item a:hover,.grid-header-logo a:hover {
	color:#fff;
}

                                        /*----------*\
                                            $Body  
                                        \*---------*/
.grid-main { 
    grid-area:main;
    margin-top: 5%;
    padding-top: 5px; 
    background:#ffffffb3;
    overflow: hidden;
    border-radius: 5px;
    text-align: center; 
}

.tbody-row:nth-of-type(even) .tbody-cell:nth-child(3),
.tbody-row:nth-of-type(even) .tbody-cell:nth-child(4),
.tbody-row:nth-of-type(even) .tbody-cell:nth-child(5) {
    background-color: rgb(212, 212, 212);
}
 
label {
    font-size: 22px;
    font-family: 'Cutive Mono', monospace;
}
 
.table-tbody {
    text-align: center;
    overflow-x: hidden;
    overflow-y: visible;
    overflow: auto;
}
 
 #us, #ds, #xp {
     color: #000000;
     text-shadow: 2px 2px 1px rgb(226, 226, 226);
     text-decoration: none;
     border-radius: 5px;
     padding: 10%;
 }
 
 #us { background-color: #ffbb46; }
 
 #ds { background-color: #ff4747; }
 
 #xp { background-color: #00aeee; }

/*Ocultar div's*/
#addStudent{position: absolute; top: -35;}
#addGTask{position: absolute; top: -35;}
.tbody-cell:nth-child(10){display: none}
.tbody-cell:nth-child(5) {display:none;}
.tbody-cell:nth-child(9){display:none;}
.tbody-cell:nth-child(8) {display:none;}
 
 #us:hover { background-color: #ffa600; }
 
 #ds:hover { background-color: #ff0404; }
 
 #xp:hover { background-color: #00b7ff; }
 
 .tbody-row:hover {
     box-shadow: 0px 0px 50px #000000;
     z-index: 2;
     transition: all 200ms ease-in;
 }
 
 .tbody-cell, .thead-cell{
     padding: 5px;
     max-width: 25%;
 }

 a{
    list-style: none;
    text-decoration: none;
 }
 
 .thead-cell {
     background-color: black;
     color: white!important;
 }
 
  h3, h2{
      font-size: 30px;
     text-shadow: 2px 2px .2px #a7a7a7;
  }
 
 #newStudent, #newGradedTask{
     padding-top: 15px;
     padding-bottom: 15px;
 }
 
 .save:hover{
     background-color: #a1e42f;
 }

 .save {
    background-color: #bceb6f;
    border-radius: 8px;
    font-family: Arial !important;
    font-family: sans-serif;
    font-weight: bold;
    color: #000000;
    padding-left: .5em;
    padding-right: .5em;
    box-shadow: 2px 3px 5px #000000;
}

input {
    text-align: center;
    height: 20px;
    font-size: 16px;
    border-radius: 7px;
    border-style: dotted;
    border-bottom-color: yellowgreen;
}

.tbody-cell{
    color: #000000;
}

input[type="number"]{
    height: 18px;
    transform: skewX(20deg);
}


 /*Selectors Avansats*/
input[type="text"]:focus{
    background-color: #92e0ff;
    border-color: #ff0505;
}

input[type="number"]:focus{
    color: #06b2f7;
    box-shadow: 5px;
}

                                        /*-----------*\
                                             $Footer 
                                        \*-----------*/   
.grid-footer { 
    grid-area:footer;
    position:absolute;
    left: 0px;
    bottom: 0px;
    height: 10%;
    width:100% !important;
}

.grid-footer-details {
    margin: .5%;
	background:#ffffffb3;
	overflow: hidden;
	border-radius: 5px;
    text-align: center;
    width:99% !important;
}

.grid-footer {
    animation: fondo 5S infinite;
}

@keyframes fly-in-out {
    0%   {border-color: wheat;}
    10%  {border-color:#87adee;}
    20%  {border-color: #50FD89;}
    30%  {border-color: #ffff6d ;}
    40%  {border-color:#ffb95d;}
    50%  {border-color: #fd8150;}
    60%  {border-color: #fd5050;}
    70%  {border-color: #ffff6d ;}
    80%  {border-color: #50FD89;}
    90%  {border-color:#87adee;}
    100% {border-color: wheat;} 
}

@keyframes fondo {
    0%   {background-color: wheat;}
    10%  {background-color:#87adee;}
    20%  {background-color: #50FD89;}
    30%  {background-color: #ffff6d ;}
    40%  {background-color:#ffb95d;}
    50%  {background-color: #fd8150;}
    60%  {background-color: #fd5050;}
    70%  {background-color: #ffff6d ;}
    80%  {background-color: #50FD89;}
    90%  {background-color:#87adee;}
    100% {background-color: wheat;} 
}
    

@media screen and ( max-width: 840px ) {
    .grid-header { 
        grid-area:header;
        display: block;
        width: auto;
     }

     .listado-item a, .grid-header-logo a {
        display: inline-block;
        font-size:16px;
    }

    .grid-header-logo {
        display: block;
        font-size: 22px;
        text-align: center;
        float: center;
        margin: auto;
    }
}

@media screen and ( max-width: 752px ) {

     .listado-item, .grid-header-logo {
        display: flex;
        justify-content: space-between;
        font-size:14px;
    }

    .grid-header-logo {
        display: block;
        font-size: 20px;
        float: none;
        margin: auto;
        padding: auto;
    }

    .table{
        display: block;
        overflow-x: auto;
    }

    h3, h2{
        font-size: 20px;
    }
   
   #newStudent, #newGradedTask{
       padding-top: 10px;
       padding-bottom: 10px;
   }
  
  input {
      height: 20px;
      font-size: 16px;
  }

    input[type="number"]{
        height: 18px;
    }

    .grid-footer { 
        grid-area:footer;
        position:fixed;
        left: 0px;
        bottom: 0px;
        height: 10%;
        width:100% !important;
    }

}

@media screen and ( max-width: 470px ) {
    .listado-item a {
        font-size:11px;
        text-align: center;
        width: auto;
        float: none;
    }
    
    .grid-header nav ul{
        display: flex;
        justify-content: space-between;
        flex-flow: row;
    }

    .grid-header-logo a {
        display: block;
        font-size: 14px;
    }

    h3, h2{
        font-size: 18px;
    }
   
   #newStudent, #newGradedTask{
       padding-top: 5px;
       padding-bottom: 5px;
   }
  
  input {
      height: 18px;
      font-size: 14px;
  }

    input[type="number"]{
        height: 14px;
    }

    .grid-footer { 
        grid-area:footer;
        position:absolute;
        left: 0px;
        bottom: 0px;
        height: 10%;
        width:100% !important;
    }
}