/*-----------*\
     $Footer 
\*-----------*/
@keyframes fondo {
  0% {
    background-color: wheat;
  }
  10% {
    background-color: #87adee;
  }
  20% {
    background-color: #50FD89;
  }
  30% {
    background-color: #ffff6d;
  }
  40% {
    background-color: #ffb95d;
  }
  50% {
    background-color: #fd8150;
  }
  60% {
    background-color: #fd5050;
  }
  70% {
    background-color: #ffff6d;
  }
  80% {
    background-color: #50FD89;
  }
  90% {
    background-color: #87adee;
  }
  100% {
    background-color: wheat;
  }
}
/* line 23, ../sass/footer.scss */
.grid-footer {
  grid-area: footer;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 10%;
  width: 100% !important;
  animation: fondo 5S infinite;
}
/* line 32, ../sass/footer.scss */
.grid-footer .footer-details {
  margin: .5%;
  background: #ffffffb3;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  width: 99% !important;
}
/* line 40, ../sass/footer.scss */
.grid-footer .footer-details h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0.2px #d1d1d1;
  font-family: 'Cutive Mono', monospace;
}
