/*----------*\
    $Forms  
\*---------*/
/* line 8, ../sass/forms.scss */
.add-students h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0.2px #d1d1d1;
}
/* line 13, ../sass/forms.scss */
.add-students #newStudent {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 17, ../sass/forms.scss */
.add-students #newStudent label {
  font-size: 22px;
  font-family: 'Cutive Mono', monospace;
}
/* line 22, ../sass/forms.scss */
.add-students #newStudent input {
  text-align: center;
  height: 20px;
  font-size: 16px;
  border-radius: 7px;
  border-style: dotted;
  border-bottom-color: yellowgreen;
}
/* line 25, ../sass/forms.scss */
.add-students #newStudent input[type="text"]:focus {
  background-color: #92e0ff;
  border-color: #ff0505;
}
/* line 31, ../sass/forms.scss */
.add-students #newStudent input[type="number"] {
  height: 18px;
  transform: skewX(20deg);
}
/* line 34, ../sass/forms.scss */
.add-students #newStudent input[type="number"]:focus {
  color: #06b2f7;
  box-shadow: 5px;
}
/* line 41, ../sass/forms.scss */
.add-students #newStudent .save {
  background-color: #bceb6f;
  border-radius: 8px;
  font-family: Arial !important;
  font-family: sans-serif;
  font-weight: bold;
  color: #000000;
  padding-left: .5em;
  padding-right: .5em;
  box-shadow: 2px 3px 5px #000000;
}
/* line 43, ../sass/forms.scss */
.add-students #newStudent .save:hover {
  background-color: #a1e42f;
}

/* line 52, ../sass/forms.scss */
.add-gradedtasks h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0.2px #d1d1d1;
}
/* line 57, ../sass/forms.scss */
.add-gradedtasks #newGradedTask {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 61, ../sass/forms.scss */
.add-gradedtasks #newGradedTask label {
  font-size: 22px;
  font-family: 'Cutive Mono', monospace;
}
/* line 66, ../sass/forms.scss */
.add-gradedtasks #newGradedTask input {
  text-align: center;
  height: 20px;
  font-size: 16px;
  border-radius: 7px;
  border-style: dotted;
  border-bottom-color: yellowgreen;
}
/* line 69, ../sass/forms.scss */
.add-gradedtasks #newGradedTask input[type="text"]:focus {
  background-color: #92e0ff;
  border-color: #ff0505;
}
/* line 75, ../sass/forms.scss */
.add-gradedtasks #newGradedTask input[type="number"] {
  height: 18px;
  transform: skewX(20deg);
}
/* line 78, ../sass/forms.scss */
.add-gradedtasks #newGradedTask input[type="number"]:focus {
  color: #06b2f7;
  box-shadow: 5px;
}
/* line 85, ../sass/forms.scss */
.add-gradedtasks #newGradedTask .save {
  background-color: #bceb6f;
  border-radius: 8px;
  font-family: Arial !important;
  font-family: sans-serif;
  font-weight: bold;
  color: #000000;
  padding-left: .5em;
  padding-right: .5em;
  box-shadow: 2px 3px 5px #000000;
}
/* line 87, ../sass/forms.scss */
.add-gradedtasks #newGradedTask .save:hover {
  background-color: #a1e42f;
}

/* line 97, ../sass/forms.scss */
.update-students h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0.2px #d1d1d1;
}
/* line 102, ../sass/forms.scss */
.update-students #newStudent {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 106, ../sass/forms.scss */
.update-students #newStudent label {
  font-size: 22px;
  font-family: 'Cutive Mono', monospace;
}
/* line 111, ../sass/forms.scss */
.update-students #newStudent input {
  text-align: center;
  height: 20px;
  font-size: 16px;
  border-radius: 7px;
  border-style: dotted;
  border-bottom-color: yellowgreen;
}
/* line 114, ../sass/forms.scss */
.update-students #newStudent input[type="text"]:focus {
  background-color: #92e0ff;
  border-color: #ff0505;
}
/* line 120, ../sass/forms.scss */
.update-students #newStudent input[type="number"] {
  height: 18px;
  transform: skewX(20deg);
}
/* line 123, ../sass/forms.scss */
.update-students #newStudent input[type="number"]:focus {
  color: #06b2f7;
  box-shadow: 5px;
}
/* line 130, ../sass/forms.scss */
.update-students #newStudent .save {
  background-color: #bceb6f;
  border-radius: 8px;
  font-family: Arial !important;
  font-family: sans-serif;
  font-weight: bold;
  color: #000000;
  padding-left: .5em;
  padding-right: .5em;
  box-shadow: 2px 3px 5px #000000;
}
/* line 132, ../sass/forms.scss */
.update-students #newStudent .save:hover {
  background-color: #a1e42f;
}
