/*-----------*\
    $Header
\*-----------*/
@keyframes fly-in-out {
  0% {
    border-color: wheat;
  }
  10% {
    border-color: #87adee;
  }
  20% {
    border-color: #50FD89;
  }
  30% {
    border-color: #ffff6d;
  }
  40% {
    border-color: #ffb95d;
  }
  50% {
    border-color: #fd8150;
  }
  60% {
    border-color: #fd5050;
  }
  70% {
    border-color: #ffff6d;
  }
  80% {
    border-color: #50FD89;
  }
  90% {
    border-color: #87adee;
  }
  100% {
    border-color: wheat;
  }
}
/* line 23, ../sass/header.scss */
.grid-header {
  grid-area: header;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  width: auto;
  background: #ffffffb3;
  overflow: hidden;
  border-bottom: 8px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: fly-in-out 5S infinite;
  /*-----------*\
      $Menu 
  \*-----------*/
}
/* line 37, ../sass/header.scss */
.grid-header .grid-header-logo {
  color: #000000cc;
  float: left;
  font-size: 30px;
}
/* line 42, ../sass/header.scss */
.grid-header .grid-header-logo a {
  color: #000000cc;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  line-height: 80px;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}
/* line 44, ../sass/header.scss */
.grid-header .grid-header-logo a:hover {
  color: #fff;
  background: #000000cc;
  border-bottom: inset 5px solid #fff;
}
/* line 56, ../sass/header.scss */
.grid-header .menu-listado {
  list-style: none;
}
/* line 59, ../sass/header.scss */
.grid-header .menu-listado #addStudent {
  position: absolute;
  top: -35;
}
/* line 60, ../sass/header.scss */
.grid-header .menu-listado #addGTask {
  position: absolute;
  top: -35;
}
/* line 62, ../sass/header.scss */
.grid-header .menu-listado .listado-item {
  float: left;
}
/* line 64, ../sass/header.scss */
.grid-header .menu-listado .listado-item a {
  color: #000000cc;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  line-height: 80px;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}
/* line 66, ../sass/header.scss */
.grid-header .menu-listado .listado-item a:hover {
  color: #fff;
  background: #000000cc;
  border-bottom: inset 5px solid #fff;
}
