/*----------*\
    $Responive  
\*---------*/
@media screen and (max-width: 840px) {
  /* line 7, ../sass/responsive.scss */
  .grid .grid-header {
    grid-area: header;
    display: block;
    width: auto;
  }
  /* line 11, ../sass/responsive.scss */
  .grid .grid-header .grid-header-logo {
    display: block;
    font-size: 22px;
    text-align: center;
    float: center;
    margin: auto;
  }
  /* line 17, ../sass/responsive.scss */
  .grid .grid-header .grid-header-logo a {
    display: inline-block;
    font-size: 16px;
  }
  /* line 24, ../sass/responsive.scss */
  .grid .grid-header .listado-item a {
    display: inline-block;
    font-size: 16px;
  }
}
@media screen and (max-width: 752px) {
  /* line 38, ../sass/responsive.scss */
  .grid .grid-header .listado-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  /* line 44, ../sass/responsive.scss */
  .grid .grid-header .grid-header-logo {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  /* line 52, ../sass/responsive.scss */
  .grid .grid-main .table {
    display: block;
    overflow-x: auto;
  }
  /* line 58, ../sass/responsive.scss */
  .grid .grid-main .add-students h2 {
    font-size: 18px;
  }
  /* line 62, ../sass/responsive.scss */
  .grid .grid-main .add-students #newStudent {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 68, ../sass/responsive.scss */
  .grid .grid-main .update-students h2 {
    font-size: 18px;
  }
  /* line 72, ../sass/responsive.scss */
  .grid .grid-main .update-students #newStudent {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 80, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks h2 {
    font-size: 18px;
  }
  /* line 84, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks #newGradedTask {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 89, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks input {
    height: 20px;
    font-size: 16px;
  }
  /* line 93, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks input[type="number"] {
    height: 18px;
  }
}
@media screen and (max-width: 470px) {
  /* line 108, ../sass/responsive.scss */
  .grid .grid-header .grid-header-logo a {
    display: block;
    font-size: 14px;
  }
  /* line 115, ../sass/responsive.scss */
  .grid .grid-header .header-menu .menu-listado {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
  }
  /* line 121, ../sass/responsive.scss */
  .grid .grid-header .header-menu .menu-listado .listado-item a {
    font-size: 11px;
    text-align: center;
    width: auto;
    float: none;
  }
  /* line 135, ../sass/responsive.scss */
  .grid .grid-main .add-students h2 {
    font-size: 18px;
  }
  /* line 139, ../sass/responsive.scss */
  .grid .grid-main .add-students #newStudent {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 146, ../sass/responsive.scss */
  .grid .grid-main .update-students h2 {
    font-size: 18px;
  }
  /* line 150, ../sass/responsive.scss */
  .grid .grid-main .update-students #newStudent {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 158, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks h2 {
    font-size: 18px;
  }
  /* line 162, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks #newGradedTask {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 167, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks input {
    height: 18px;
    font-size: 14px;
  }
  /* line 171, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks input[type="number"] {
    height: 14px;
  }
}
