@charset "UTF-8";
/* Styles go here */
/*------------------------------------*\
    $CONTINGUT del html 
\*------------------------------------*/
/*
 *Contingut del html 
    * Header.....Part del principi,lo relacionat amb el titol,la icona etc.....
    * Tabla.......La part intermitja, Tot lo relacionat amb la tabla del get ranking,la tabla, els punts ,les activitat etc...
    * Forms.......Formularis per ha afegir estudiants i GradedTasks
    * Footer.....La part final del html, tot lo relacionat amb la firma del creador, l`hora etc....
    * Grid.......Es la part de la ConfiguraciÃ³ de grid 
    * Menu..Es la part on estan els elements pertinents referents al menu de navegacio
    * Responsive......Es la part on estan les medides per als diferents dispositius i les respectives accions 
 */
/* line 20, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/*-----------*\
    $Grid 
\*-----------*/
/* line 32, ../sass/styles.scss */
.grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  background-color: wheat;
  /*-----------*\
      $Header
  \*-----------*/
  /*-----------*\
       $Footer 
  \*-----------*/
}
@keyframes fly-in-out {
  0% {
    border-color: wheat;
  }
  10% {
    border-color: #87adee;
  }
  20% {
    border-color: #50FD89;
  }
  30% {
    border-color: #ffff6d;
  }
  40% {
    border-color: #ffb95d;
  }
  50% {
    border-color: #fd8150;
  }
  60% {
    border-color: #fd5050;
  }
  70% {
    border-color: #ffff6d;
  }
  80% {
    border-color: #50FD89;
  }
  90% {
    border-color: #87adee;
  }
  100% {
    border-color: wheat;
  }
}
/* line 23, ../sass/header.scss */
.grid .grid-header {
  grid-area: header;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  width: auto;
  background: #ffffffb3;
  overflow: hidden;
  border-bottom: 8px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: fly-in-out 5S infinite;
  /*-----------*\
      $Menu 
  \*-----------*/
}
/* line 37, ../sass/header.scss */
.grid .grid-header .grid-header-logo {
  color: #000000cc;
  float: left;
  font-size: 30px;
}
/* line 42, ../sass/header.scss */
.grid .grid-header .grid-header-logo a {
  color: #000000cc;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  line-height: 80px;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}
/* line 44, ../sass/header.scss */
.grid .grid-header .grid-header-logo a:hover {
  color: #fff;
  background: #000000cc;
  border-bottom: inset 5px solid #fff;
}
/* line 56, ../sass/header.scss */
.grid .grid-header .menu-listado {
  list-style: none;
}
/* line 59, ../sass/header.scss */
.grid .grid-header .menu-listado #addStudent {
  position: absolute;
  top: -35;
}
/* line 60, ../sass/header.scss */
.grid .grid-header .menu-listado #addGTask {
  position: absolute;
  top: -35;
}
/* line 62, ../sass/header.scss */
.grid .grid-header .menu-listado .listado-item {
  float: left;
}
/* line 64, ../sass/header.scss */
.grid .grid-header .menu-listado .listado-item a {
  color: #000000cc;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  line-height: 80px;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}
/* line 66, ../sass/header.scss */
.grid .grid-header .menu-listado .listado-item a:hover {
  color: #fff;
  background: #000000cc;
  border-bottom: inset 5px solid #fff;
}
/* line 41, ../sass/styles.scss */
.grid .grid-main {
  grid-area: main;
  margin-top: 5%;
  padding-top: 5px;
  background: #ffffffb3;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  /*----------*\
      $Tabla  
  \*---------*/
  /*----------*\
      $Forms  
  \*---------*/
}
/* line 14, ../sass/table.scss */
.grid .grid-main .table .table-thead {
  text-align: center;
}
/* line 16, ../sass/table.scss */
.grid .grid-main .table .table-thead .thead-cell {
  padding: 5px;
  max-width: 25%;
  background-color: black;
  color: white !important;
}
/* line 24, ../sass/table.scss */
.grid .grid-main .table .table-tbody {
  text-align: center;
  overflow-x: hidden;
  overflow-y: visible;
  overflow: auto;
}
/* line 31, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row:nth-of-type(even) .tbody-cell:nth-child(3) {
  background-color: #d4d4d4;
}
/* line 35, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row:nth-of-type(even) .tbody-cell:nth-child(4) {
  background-color: #d4d4d4;
}
/* line 39, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row:nth-of-type(even) .tbody-cell:nth-child(5) {
  background-color: #d4d4d4;
}
/* line 46, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell {
  padding: 5px;
  max-width: 25%;
  color: #000000;
}
/* line 51, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell #us {
  color: #000000;
  color: #000000;
  text-shadow: 2px 2px 1px #e2e2e2;
  text-decoration: none;
  border-radius: 5px;
  padding: 10%;
  background-color: #ffbb46;
}
/* line 55, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell #us:hover {
  background-color: #ffa600;
}
/* line 60, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell #ds {
  color: #000000;
  color: #000000;
  text-shadow: 2px 2px 1px #e2e2e2;
  text-decoration: none;
  border-radius: 5px;
  padding: 10%;
  background-color: #ff4747;
}
/* line 64, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell #ds:hover {
  background-color: #ff0404;
}
/* line 69, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell #xp {
  color: #000000;
  text-shadow: 2px 2px 1px #e2e2e2;
  text-decoration: none;
  border-radius: 5px;
  padding: 10%;
  background-color: #00aeee;
}
/* line 72, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell #xp:hover {
  background-color: #00b7ff;
}
/* line 77, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row:hover {
  box-shadow: 0px 0px 50px #000000;
  z-index: 2;
  transition: all 200ms ease-in;
}
/* line 84, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell:nth-child(10) {
  display: none;
}
/* line 88, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell:nth-child(5) {
  display: none;
}
/* line 92, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell:nth-child(9) {
  display: none;
}
/* line 96, ../sass/table.scss */
.grid .grid-main .table .table-tbody .tbody-row .tbody-cell:nth-child(8) {
  display: none;
}
/* line 8, ../sass/forms.scss */
.grid .grid-main .add-students h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0.2px #d1d1d1;
}
/* line 13, ../sass/forms.scss */
.grid .grid-main .add-students #newStudent {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 17, ../sass/forms.scss */
.grid .grid-main .add-students #newStudent label {
  font-size: 22px;
  font-family: 'Cutive Mono', monospace;
}
/* line 22, ../sass/forms.scss */
.grid .grid-main .add-students #newStudent input {
  text-align: center;
  height: 20px;
  font-size: 16px;
  border-radius: 7px;
  border-style: dotted;
  border-bottom-color: yellowgreen;
}
/* line 25, ../sass/forms.scss */
.grid .grid-main .add-students #newStudent input[type="text"]:focus {
  background-color: #92e0ff;
  border-color: #ff0505;
}
/* line 31, ../sass/forms.scss */
.grid .grid-main .add-students #newStudent input[type="number"] {
  height: 18px;
  transform: skewX(20deg);
}
/* line 34, ../sass/forms.scss */
.grid .grid-main .add-students #newStudent input[type="number"]:focus {
  color: #06b2f7;
  box-shadow: 5px;
}
/* line 41, ../sass/forms.scss */
.grid .grid-main .add-students #newStudent .save {
  background-color: #bceb6f;
  border-radius: 8px;
  font-family: Arial !important;
  font-family: sans-serif;
  font-weight: bold;
  color: #000000;
  padding-left: .5em;
  padding-right: .5em;
  box-shadow: 2px 3px 5px #000000;
}
/* line 43, ../sass/forms.scss */
.grid .grid-main .add-students #newStudent .save:hover {
  background-color: #a1e42f;
}
/* line 52, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0.2px #d1d1d1;
}
/* line 57, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks #newGradedTask {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 61, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks #newGradedTask label {
  font-size: 22px;
  font-family: 'Cutive Mono', monospace;
}
/* line 66, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks #newGradedTask input {
  text-align: center;
  height: 20px;
  font-size: 16px;
  border-radius: 7px;
  border-style: dotted;
  border-bottom-color: yellowgreen;
}
/* line 69, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks #newGradedTask input[type="text"]:focus {
  background-color: #92e0ff;
  border-color: #ff0505;
}
/* line 75, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks #newGradedTask input[type="number"] {
  height: 18px;
  transform: skewX(20deg);
}
/* line 78, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks #newGradedTask input[type="number"]:focus {
  color: #06b2f7;
  box-shadow: 5px;
}
/* line 85, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks #newGradedTask .save {
  background-color: #bceb6f;
  border-radius: 8px;
  font-family: Arial !important;
  font-family: sans-serif;
  font-weight: bold;
  color: #000000;
  padding-left: .5em;
  padding-right: .5em;
  box-shadow: 2px 3px 5px #000000;
}
/* line 87, ../sass/forms.scss */
.grid .grid-main .add-gradedtasks #newGradedTask .save:hover {
  background-color: #a1e42f;
}
/* line 97, ../sass/forms.scss */
.grid .grid-main .update-students h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0.2px #d1d1d1;
}
/* line 102, ../sass/forms.scss */
.grid .grid-main .update-students #newStudent {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 106, ../sass/forms.scss */
.grid .grid-main .update-students #newStudent label {
  font-size: 22px;
  font-family: 'Cutive Mono', monospace;
}
/* line 111, ../sass/forms.scss */
.grid .grid-main .update-students #newStudent input {
  text-align: center;
  height: 20px;
  font-size: 16px;
  border-radius: 7px;
  border-style: dotted;
  border-bottom-color: yellowgreen;
}
/* line 114, ../sass/forms.scss */
.grid .grid-main .update-students #newStudent input[type="text"]:focus {
  background-color: #92e0ff;
  border-color: #ff0505;
}
/* line 120, ../sass/forms.scss */
.grid .grid-main .update-students #newStudent input[type="number"] {
  height: 18px;
  transform: skewX(20deg);
}
/* line 123, ../sass/forms.scss */
.grid .grid-main .update-students #newStudent input[type="number"]:focus {
  color: #06b2f7;
  box-shadow: 5px;
}
/* line 130, ../sass/forms.scss */
.grid .grid-main .update-students #newStudent .save {
  background-color: #bceb6f;
  border-radius: 8px;
  font-family: Arial !important;
  font-family: sans-serif;
  font-weight: bold;
  color: #000000;
  padding-left: .5em;
  padding-right: .5em;
  box-shadow: 2px 3px 5px #000000;
}
/* line 132, ../sass/forms.scss */
.grid .grid-main .update-students #newStudent .save:hover {
  background-color: #a1e42f;
}
@keyframes fondo {
  0% {
    background-color: wheat;
  }
  10% {
    background-color: #87adee;
  }
  20% {
    background-color: #50FD89;
  }
  30% {
    background-color: #ffff6d;
  }
  40% {
    background-color: #ffb95d;
  }
  50% {
    background-color: #fd8150;
  }
  60% {
    background-color: #fd5050;
  }
  70% {
    background-color: #ffff6d;
  }
  80% {
    background-color: #50FD89;
  }
  90% {
    background-color: #87adee;
  }
  100% {
    background-color: wheat;
  }
}
/* line 23, ../sass/footer.scss */
.grid .grid-footer {
  grid-area: footer;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 10%;
  width: 100% !important;
  animation: fondo 5S infinite;
}
/* line 32, ../sass/footer.scss */
.grid .grid-footer .footer-details {
  margin: .5%;
  background: #ffffffb3;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  width: 99% !important;
}
/* line 40, ../sass/footer.scss */
.grid .grid-footer .footer-details h2 {
  font-size: 30px;
  text-shadow: 2px 2px 0.2px #d1d1d1;
  font-family: 'Cutive Mono', monospace;
}

/*----------*\
    $Responive  
\*---------*/
@media screen and (max-width: 840px) {
  /* line 7, ../sass/responsive.scss */
  .grid .grid-header {
    grid-area: header;
    display: block;
    width: auto;
  }
  /* line 11, ../sass/responsive.scss */
  .grid .grid-header .grid-header-logo {
    display: block;
    font-size: 22px;
    text-align: center;
    float: center;
    margin: auto;
  }
  /* line 17, ../sass/responsive.scss */
  .grid .grid-header .grid-header-logo a {
    display: inline-block;
    font-size: 16px;
  }
  /* line 24, ../sass/responsive.scss */
  .grid .grid-header .listado-item a {
    display: inline-block;
    font-size: 16px;
  }
}
@media screen and (max-width: 752px) {
  /* line 38, ../sass/responsive.scss */
  .grid .grid-header .listado-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  /* line 44, ../sass/responsive.scss */
  .grid .grid-header .grid-header-logo {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  /* line 52, ../sass/responsive.scss */
  .grid .grid-main .table {
    display: block;
    overflow-x: auto;
  }
  /* line 58, ../sass/responsive.scss */
  .grid .grid-main .add-students h2 {
    font-size: 18px;
  }
  /* line 62, ../sass/responsive.scss */
  .grid .grid-main .add-students #newStudent {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 68, ../sass/responsive.scss */
  .grid .grid-main .update-students h2 {
    font-size: 18px;
  }
  /* line 72, ../sass/responsive.scss */
  .grid .grid-main .update-students #newStudent {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 80, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks h2 {
    font-size: 18px;
  }
  /* line 84, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks #newGradedTask {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 89, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks input {
    height: 20px;
    font-size: 16px;
  }
  /* line 93, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks input[type="number"] {
    height: 18px;
  }
}
@media screen and (max-width: 470px) {
  /* line 108, ../sass/responsive.scss */
  .grid .grid-header .grid-header-logo a {
    display: block;
    font-size: 14px;
  }
  /* line 115, ../sass/responsive.scss */
  .grid .grid-header .header-menu .menu-listado {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
  }
  /* line 121, ../sass/responsive.scss */
  .grid .grid-header .header-menu .menu-listado .listado-item a {
    font-size: 11px;
    text-align: center;
    width: auto;
    float: none;
  }
  /* line 135, ../sass/responsive.scss */
  .grid .grid-main .add-students h2 {
    font-size: 18px;
  }
  /* line 139, ../sass/responsive.scss */
  .grid .grid-main .add-students #newStudent {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 146, ../sass/responsive.scss */
  .grid .grid-main .update-students h2 {
    font-size: 18px;
  }
  /* line 150, ../sass/responsive.scss */
  .grid .grid-main .update-students #newStudent {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 158, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks h2 {
    font-size: 18px;
  }
  /* line 162, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks #newGradedTask {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 167, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks input {
    height: 18px;
    font-size: 14px;
  }
  /* line 171, ../sass/responsive.scss */
  .grid .grid-main .add-gradedtasks input[type="number"] {
    height: 14px;
  }
}
