/*----------*\
    $Tabla  
\*---------*/
/* line 14, ../sass/table.scss */
.table .table-thead {
  text-align: center;
}
/* line 16, ../sass/table.scss */
.table .table-thead .thead-cell {
  padding: 5px;
  max-width: 25%;
  background-color: black;
  color: white !important;
}
/* line 24, ../sass/table.scss */
.table .table-tbody {
  text-align: center;
  overflow-x: hidden;
  overflow-y: visible;
  overflow: auto;
}
/* line 31, ../sass/table.scss */
.table .table-tbody .tbody-row:nth-of-type(even) .tbody-cell:nth-child(3) {
  background-color: #d4d4d4;
}
/* line 35, ../sass/table.scss */
.table .table-tbody .tbody-row:nth-of-type(even) .tbody-cell:nth-child(4) {
  background-color: #d4d4d4;
}
/* line 39, ../sass/table.scss */
.table .table-tbody .tbody-row:nth-of-type(even) .tbody-cell:nth-child(5) {
  background-color: #d4d4d4;
}
/* line 46, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell {
  padding: 5px;
  max-width: 25%;
  color: #000000;
}
/* line 51, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell #us {
  color: #000000;
  color: #000000;
  text-shadow: 2px 2px 1px #e2e2e2;
  text-decoration: none;
  border-radius: 5px;
  padding: 10%;
  background-color: #ffbb46;
}
/* line 55, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell #us:hover {
  background-color: #ffa600;
}
/* line 60, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell #ds {
  color: #000000;
  color: #000000;
  text-shadow: 2px 2px 1px #e2e2e2;
  text-decoration: none;
  border-radius: 5px;
  padding: 10%;
  background-color: #ff4747;
}
/* line 64, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell #ds:hover {
  background-color: #ff0404;
}
/* line 69, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell #xp {
  color: #000000;
  text-shadow: 2px 2px 1px #e2e2e2;
  text-decoration: none;
  border-radius: 5px;
  padding: 10%;
  background-color: #00aeee;
}
/* line 72, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell #xp:hover {
  background-color: #00b7ff;
}
/* line 77, ../sass/table.scss */
.table .table-tbody .tbody-row:hover {
  box-shadow: 0px 0px 50px #000000;
  z-index: 2;
  transition: all 200ms ease-in;
}
/* line 84, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell:nth-child(10) {
  display: none;
}
/* line 88, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell:nth-child(5) {
  display: none;
}
/* line 92, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell:nth-child(9) {
  display: none;
}
/* line 96, ../sass/table.scss */
.table .table-tbody .tbody-row .tbody-cell:nth-child(8) {
  display: none;
}
