<section class="add-gradedtasks">
    <h2>Add new Graded Task</h2>
    We understand as a graded task any test or practice that will be marked by teacher and should be reflected in the final mark.
    
    <form role="form" id="newGradedTask">
      <label role="text" for="idTaskName" aria-label="Name of the GradedTask"> Task name</label><br>
      <input role="input" type="text" id="idTaskName"  name="taskname" placeholder="Name of the new Gradetask" aria-required="true" aria-placeholder="Name of the new Gradetask" value="" required >
      <br><br>
     <label role="text" for="idTaskDescription" aria-label="Description of the GradedTask"> Task description</label><br>
      <textarea role="input" rows="4" cols="50" id="idTaskDescription"  name="taskdescription" placeholder="Name of the description" aria-required="true" aria-placeholder="Name of the description" value="" required ></textarea>
      <br><br>
      <label role="text" for="idTaskWeight" aria-label="Points of the GradedTask">Task Weight (0-100 %)</label><br>
      <input role="input" type="number" id="idTaskWeight" name="taskweight" placeholder="Points" aria-required="true" aria-placeholder="Points" value="" required >
      <br><br>
      <input type="submit" class="save" value="Save">
    </form> 
</section>