<section class="add-students">
    <h2>Add new Student</h2>
    <form role="form" id="newStudent">
      <label role="text" for="idFirstName" aria-label="First Name of the student">First name<br></label>
      <input role="input" type="text" id="idFirstName" name="firstname" placeholder="Name of the new Student"  aria-required="true" aria-placeholder="Name of the new Student" value="" required>
      <br><br>
      <label role="text" for="idSurnames" aria-label="Surnames of the student">Surnames<br></label>
      <input role="input" type="text" id="idSurnames" name="surnames" placeholder="Surnames of the new Student"  aria-required="true"  aria-placeholder="Surnames of the new Student" value="" required>
      <br><br>
      <input type="submit" class="save" value="Save">
    </form> 
</section>