<section id="Popup">
    <h3>Positive behaviours</h3>
    <button role="button" class="xp" value="20" style="background-color:limegreen; width:100%"> +20 Correctly answer a question in class using English </button>
    <button role="button" class="xp" value="20" style="background-color:limegreen; width:100%"> +20 Present your solution in front of class </button>
    <button role="button"class="xp" value="100" style="background-color:limegreen; width:100%"> +100 Finish a proposed task before class ends </button>
    <button role="button" class="xp" value="50" style="background-color:limegreen; width:100%"> +50 Asking insightful questions about the lesson </button>
    <br> 
    <h3>Negative behaviours</h3>
    <button role="button" class="xp" value="-20" style="color:white; background-color:red; width:100%"> -20 Arriving late to class </button>
    <button role="button" class="xp" value="-30" style="color:white; background-color:red; width:100%"> -30 Not answer in english when you have been asked in english </button>
    <button role="button" class="xp" value="-100" style="color:white; background-color:red; width:100%"> -100 Delayed homework delivery </button>    
</section>



