
<table class="table" role="table">
<thead class="table-thead">
<tr role="rowheader">
    <td role="cell" class="thead-cell" colspan='2'>Managment Actions</td>
    <td role="cell" class="thead-cell" >Surnames</td>
    <td role="cell" class="thead-cell" >Name</td>
    <td role="cell" class="thead-cell" >Points</td>
    <td role="cell" class="thead-cell" ></td>
    ${GRADED_TASKS}</tr>
</thead>
<tbody class="table-tbody" role="tablist" id="idTableRankingBody"></tbody>
    
</table>