<section class="update-students">
    <h2>Update Student</h2>
    <form  role="form" id="newStudent">
      <label role="text" for="idFirstName" aria-label="First Name of the student" >First name<br></label>
      <input role="input" type="text" id="idFirstName" name="firstname" aria-required="true" value="" required>
      <br><br>
      <label role="text" for="idSurnames" aria-label="Surnames of the student" >Surnames<br></label>
      <input role="input" type="text" id="idSurnames" name="surnames" aria-required="true" value="" required>
      <br><br>
      <input type="submit" class="save" value="Save">
    </form> 
</section>